$max-width : 960px;
$side-width: 250px;
$breakpoint: 640px;


@mixin mq-max($maxwidth: $breakpoint) {
	@media(max-width:$maxwidth) {
		@content;
	}
}


/*
 * reset, default
 */
p,
ul, li,
hr,
blockquote,
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	border: none;
	font-size: 100%;
	font-weight: inherit;
}
li {
	list-style: none;
	list-style-position: outside;
}

a {
	text-decoration: underline;
	
	&:hover {
		text-decoration: none;
	}
	
	img {
		border: none;
	}
}

p {
	margin: 1em 0;
}

hr {
	border-top: 1px solid #fefefe;
	border-bottom: 1px solid #e8e8e8;
	margin: 0 0;
}


/*
 * layout
 */
body {
	font-size: 14px;
	max-width: $max-width;
	margin: 0 auto;
	line-height: 1.5;
	
	@include mq-max($max-width) {
		margin: 0 0.5em;
	};
}

header {
	margin-top: 3em;
}

#main {
	float: left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin-right: -250px;
	padding-right: 250px;
	width: 100%;
	
	@include mq-max {
		float: none;
		margin-right: 0;
		padding-right: 0;
	}
}

#sidebar {
	float: left;
	width: 200px;
	margin-left: 50px;
	
	@include mq-max {
		float: none;
		width: auto;
		margin-left: 0;
	}
}

footer {
	clear: both;
	margin: 2em 1em 4em;
	font-size: 12px;
}


/*
 * parts
 */
header {
	overflow: hidden;
	margin-bottom: 4em;
	
	h1 {
		font-size: 32px;
		font-weight: bold;
		margin-left: 10px;

		a {
			color: inherit;
			text-decoration: none;
			&:hover {
				background-color: inherit;
			}
		}
	}
	
	#description {
		font-size: 12px;
		margin: 10px 250px 10px 10px;
	}
	
	nav {
		margin: 0.5em 1em;
		
		ul {
			overflow: hidden;
			text-align: right;
		
			li {
				display: inline-block;
				margin-left: 2em;
			}
		}
	}
}


#main {
	#indexHeader {
		margin-bottom: 30px;
	}
	
	hr {
		margin-top: 5em;
		margin-bottom: 5em;
	}
	
	article {
		margin: 0 16px 3em;
		
		@include mq-max {
			margin-left: 0;
			margin-right: 0;
		}
		
		h2 {
			font-size: 20px;
			font-weight: bold;
			margin-bottom: 1.5em;
			margin-left: -16px;
			padding-left: 12px;

			@include mq-max {
				margin-left: 0;
			}

			a {
				text-decoration: none;
			}
		}
		
		ul, ol {
			margin-left: 2em;
			li {
				margin-top: 0.3em;
				margin-bottom: 0.3em;
			}
		}
		ul li {
			list-style-type: disc;
		}
		ol li {
			list-style-type: decimal;
		}
		
		.post-photo {
			text-align: center;
			a {
				background-color: inherit;
			}
			img {
				padding: 8px;
				background-color: #FFF;
				border: 1px solid #ddd;
				border-radius: 2px;
				box-shadow: 0 0 3px rgba(200,200,200, 0.5);
				box-sizing: border-box;
				-moz-box-sizing: border-box;
			}
		}
		
		.post-quote,
		.post-link {
			font-size: 20px;
			font-weight: bold;
			padding: 1em;
			border: 1px solid #ddd;
			border-radius: 4px;
			box-shadow: 0 0 30px rgba(200,200,200, 0.5) inset;
		}
		
		.post-chat {
			li {
				padding: 0.5em;
				background-color: #f0f0f0;
				margin-bottom: 2px;
				list-style: none;
			}
			li:nth-child(odd) {
				background-color: #fdfdfd;
			}
			.label {
				font-weight: bold;
				display: inline-block;
				min-width: 5em;
				margin-right: 2em;
			}
		}
		
		.post-video {
			text-align: center;
		}
		
		.post-audio {
			text-align: center;
		}
		
		
		.post-caption {
			font-size: 12px;
			font-style: italic;
			margin-top: 1em;
		}
		.post-photo ~ .post-caption,
		.post-audio ~ .post-caption,
		.post-video ~ .post-caption {
			margin-left: 3em;
			margin-right: 3em;
			font-style: normal;
		}
		
		.post-meta {
			margin-top: 3em;
			font-size: 11px;
			text-align: right;
			overflow: hidden;
			
			.social-buttons {
				float: left;
				margin-top: 8px;
			}
			
			.post-icon {
				float: right;
				margin-top: 8px;
				margin-left: 8px;
			}
		}
		
		.read_more_container {
			margin-top: 1em;
		}
		
		img {
			max-width: 100%;
		}
		
		h3, h4, h5, h6 {
			margin-top: 40px;
			margin-bottom: 20px;
			font-weight: bold;
			border-left-style: solid;
		}
		h3 {
			font-size: 18px;
			margin-left: -12px;
			padding-left: 8px;
			border-left-width: 4px;
		}
		h4 {
			font-size: 16px;
			margin-left: -8px;
			padding-left: 6px;
			border-left-width: 2px;
		}
		h5 {
			font-size: 14px;
			margin-left: -6px;
			padding-left: 4px;
			border-left-width: 2px;
		}
		h6 {
			font-size: 14px;
			font-weight: normal;
			border-left: none;
		}
		
		blockquote {
			border-left: 4px solid #ddd;
			margin: 1em;
			padding: 3px 1em;
			font-weight: bold;
		}
		
		hr {
			margin: 2em;
		}
	}

	ol.notes {
		font-size: 11px;
		li {
			margin: 4px 0;
		}
	}
	
	.pagination {
		overflow: hidden;
		margin: 0 1em 3em;
		
		.next {
			float: right;
		}
		.prev {
			float: left;
		}
	}
}


#sidebar {
	font-size: 12px;
	
	section {
		margin-bottom: 4em;
		
		h3 {
			clear: left;
			margin-bottom: 0.5em;
			margin-left: -16px;
			padding-left: 12px;
			font-size: 14px;
			font-weight: bold;

			@include mq-max {
				margin-left: 0;
			}
		}
		
		.portrait {
			float: left;
			margin: 0 0.5em 0.5em 0;
		}
	
		&.sidebar-about {
			& > div {
				overflow: hidden;
			}
		}

		.tag_list li {
			display: inline-block;
			margin-right: 0.5em;
		}
	}
}


/*
 * code, prettyprint
 */
article p > code,
pre.prettyprint {
    background-color: #fdfdfd;
    border: 1px dotted #ccc;
	border-radius: 2px;
	font-size: 12px;
    word-break: break-all;
	font-family: Consolas, Menlo, Monaco, "Courier New", monospace, serif;
}
article p > code {
	display: inline-block;
	padding: 0 0.5em;
}
pre.prettyprint {
    overflow: auto;
    padding: 10px;
}
pre.prettyprint .tag {
    display: inline;
}
pre.prettyprint li {
	color: #ccc;
    list-style-type: decimal;
	background-color: inherit;
}


/*
 * autopagerize
 */
.autopagerize_page_separator_blocks {
	clear: both;
}


/*
 * tumblr-in-link
 */
#main article #tumblrinlink {
	font-size: 12px;
	margin-top: 40px;
	text-align: left;
	
	h2 {
		font-size: 16px;
		margin-left: 0;
		padding-left: 8px;
		border-left-width: 4px;
	}
	li {
		margin: 0.2em 0;
		
		p {
			display: inline;
		}
		img {
			display: none;
		}
	}
	
	#inlink-logo {
		text-align: right;
	}
}
